#cars-data {
  margin: auto;
  margin-top: 40px;
  width: 70%;
  display: grid;
  margin-top: -60px;
  grid-template-columns: repeat(1, 1fr);
}
#carone {
  display: flex;
  margin-bottom: 20px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#cartwo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#carthree {
  width: 40%;
  margin: auto;
  text-align: center;
}
#booknow {
  border: 1px solid green;
  margin-top: 40px;
  margin: auto;
  font-size: 16px;
  font-weight: 400px;
  width: 30%;
  background-color: green;
  padding: 20px 20px;
  color: white;
}
#forcarimg {
  margin-top: 10px;
  width: 30%;
}
#forcarimg ~ div {
  margin: auto;
  margin-top: 20px;
}
#forcarimg > img {
  width: 100%;
  margin: 10px;
}

#cardetails {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  padding: auto 50px;
}
#ratingdetails {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
#ratingdetails > div > img {
  width: 20px;
}
#parent > div:nth-child(2) > img {
  width: 60px;
  margin-top: 20px;
}
#parent > h2 {
  text-align: center;
  background-color: rgb(19, 16, 34);
  padding: 20px 20px;
  width: 100%;
  color: white;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 10px;
}
#continue {
  color: aliceblue;
  background-color: green;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 80px;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
}
#promo {
  margin-left: 43%;
  font-size: 20px;
  margin-top: 30px;
}
#promo > div:nth-child(2) {
  display: flex;
  font-size: 25px;
  align-items: center;
  font-weight: 500;
  margin-top: 150px;
  gap: 30px;
}

#promo > div > input {
  padding: 20px 10px;
  margin-left: -50px;
  font-size: 19px;
}
#apply {
  padding: 20px;
  margin-left: 0px;
  color: white;
  font-weight: 400;
  background-color: rgb(33, 6, 6);
  border: 1px solid black;
}

@media (min-width: 320px) and (max-width: 480px) {
  #cars-data {
    margin: auto;
    width: 100%;
    margin-top: 20px;
    display: grid;
    margin-top: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
  #carone {
    display: grid;
    margin-bottom: 20px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  #cartwo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #carthree {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
    gap: 40%;
  }
  #booknow {
    border: 1px solid green;
    margin-top: 50px;
    margin: auto;
    font-size: 16px;
    font-weight: 400px;
    width: 90%;
    background-color: green;
    padding: 10px 20px;
    color: white;
    margin-bottom: 20px;
    padding-right: 30px;
  }
  #forcarimg {
    margin-top: 10px;
    width: 40%;
  }
  #carthree > h3 {
    display: block;
    margin-top: 0px;
  }
  #forcarimg ~ div {
    margin: auto;
    margin-top: 20px;
  }
  #forcarimg > img {
    width: 100%;
    margin: 10px;
  }

  #cardetails {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    padding: auto 50px;
  }
  #ratingdetails {
    margin-top: 0px;
    display: flex;
    gap: 5px;
  }
  #ratingdetails > div > img {
    width: 20px;
  }
  #parent > div:nth-child(2) > img {
    width: 60px;
    margin-top: 20px;
  }
  #parent > div:nth-child(2) > img {
    width: 40px;
    margin-top: 20px;
  }
  #promo {
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
  }
  #promo > div:nth-child(2) {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    margin-top: 70px;
    margin-left: -80px;
    gap: 30px;
  }

  #promo > div > input {
    padding: 20px 10px;
    margin-left: -50px;
    font-size: 19px;
  }
  #apply {
    padding: 20px;
    margin-left: 0px;
    color: white;
    font-weight: 400;
    background-color: rgb(33, 6, 6);
    border: 1px solid black;
  }
}
