#parent {
  width: 40%;
  margin: auto;
}
#parent > h2 {
  text-align: center;
  background-color: rgb(19, 16, 34);
  padding: 20px 20px;
  width: 80%;
  color: white;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 10px;
  font-size: 22px;
}
#parent > div:nth-child(1) > img {
  width: 40px;
  margin-top: 20px;
}
#parent > div:nth-child(2) {
  margin-top: 200px;
  font-size: 25px;
  font-weight: bold;
  margin-left: 200px;
}
#parent > div:nth-child(3) {
  margin-left: 250px;
}

#forminput > div > h4 {
  font-size: 18px;
  margin-top: 30px;
}
#inputotp {
  margin-top: 20px;
  margin-right: 50px;
  padding: 10px 370px 10px 20px;
  font-size: 18px;
}
#parent > div:nth-child(3) {
  margin-top: 10px;
  color: rgb(135, 129, 121);
}
#continue {
  color: aliceblue;
  background-color: green;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 80px;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #parent {
    width: 100%;
    margin: auto;
  }
  #parent > div:nth-child(1) > img {
    width: 40px;
    margin-top: 20px;
  }
  #parent > div:nth-child(2) {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 0px;
  }
  #parent > div:nth-child(3) {
    margin-left: 160px;
  }

  #forminput > div > h4 {
    font-size: 18px;
    margin-top: 100px;
  }
  #inputotp {
    margin-top: 20px;
    margin-right: 50px;
    padding: 10px 370px 10px 20px;
    font-size: 18px;
  }
  #parent > div:nth-child(3) {
    margin-top: 10px;
    color: rgb(135, 129, 121);
  }
  #continue {
    color: aliceblue;
    background-color: green;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 80px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
  }
  #parent > h2 {
    text-align: center;
    background-color: rgb(19, 16, 34);
    padding: 20px 20px;
    width: 100%;
    color: white;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 10px;
    font-size: 17px;
  }
}
