#parent{
    width: 40%;
    margin: auto;
}
#parent>div:nth-child(1)>img{
    width: 40px;
    margin-top: 20px;
    }
#parent>div:nth-child(2){
    margin-top: 200px;
font-size: 25px;
font-weight: bold;
margin-left: 200px;

}
#parent>div:nth-child(3){
    margin-left: 250px;
}

#forminput>div>h4{
    font-size: 18px;
    margin-top: 30px;
}
#inputotp{
    margin-top: 20px;
    margin-right: 50px;
    padding: 10px 370px 10px 20px;
    font-size: 18px;
}
#parent>div:nth-child(3){
    margin-top: 10px;
    color: rgb(135, 129, 121);
}
#continue{
    color: aliceblue;
    background-color: green;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 80px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    margin: auto; 
    margin-top: 20px;
}