.parent{
    width: 40%;
    margin: auto;
}
.parent>div:nth-child(1)>img{
    width: 40px;
    margin-top: 20px;
    }
.parent>div:nth-child(2){
    margin-top: 15px;
font-size: 19px;
font-weight: bold;
}
.forminput{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.forminput>div{
    display: flex;
    border: 2px solid green;
    gap: 25px;
    padding:10px 20px;
}
.forminput>input{
    padding: 0px 200px 0px 20px;
    font-size: 18px;
}
.forminput>div>img{
width: 50px;
height: 50px;
margin-top: 15px;
padding: -10;
}
.forminput>div>h4{
    font-size: 18px;
    margin-top: 30px;
}
.inputemail{
    margin-top: 20px;
    padding: 20px 370px 20px 20px;
    font-size: 18px;
  
}
.parent>div:nth-child(3){
    margin-top: 10px;
    color: rgb(135, 129, 121);
}
.continue{
    color: aliceblue;
    background-color: green;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 80px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    margin: auto; 
    margin-top: 300px;
}